.todolist-main-container {
    margin-top: 4px;
}

.checkbox {
    display: none;
}

input[type="checkbox"] + span:before {
    width: 24px;
    height: 24px;
    border: 1.5px solid black;
    content: "";
    display: inline-block;
    margin: 0 16px 0 0;
    padding: 0;
    vertical-align: top;
    border-radius: 50%;
}

input[type="checkbox"]:checked + span:before {
    background: #1460c8;
    border: 1.5px solid #1460c8;
    box-shadow: inset 0px 0px 0px 1px #fff;
    color: #333;
    content: "";
    text-align: center;
    border-radius: 50%;
}

.input-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 19px auto;
    width: 90%;
}

.list-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ababab;
    padding-bottom: 19px;
    width: 90%;
    margin-left: 4%;
}

@font-face {
    font-family: 'SFProText';
    src: url(../../fonts/SF-Pro-Text-Bold.otf)
}

.list-content {
    width: 90%;
}

.task-name {
    font-family: 'SFProText';
}

.time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
}

.time-icon {
    font-size: 0.8rem;
    color: gray;
    padding-right: 2%;
}

.list-time {
    font-size: 0.8rem;
    color: gray;
}



.green {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
}

.yellow {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: yellow;
}

.red {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: red;
}

@media(max-width:376px) {
    .list-content {
        width: 271px;
    }

    .list {
        width: 100%;
    }

    .list-border {
        margin-left: 0px;
    }

    .dotOuterBox {
        margin-left: 16px;
        margin-right: 16px;
    }

    .input-box {
        margin-left: 18px;
        margin-right: 18px;
    }
}